{% extends "base.html" %}
{% block content %}
<body>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
            <form class="login100-form validate-form" action="" method="post" novalidate>
                <span class="login100-form-title p-b-33">
						Регистрация нового пользователя
                </span>
                {{ form.hidden_tag () }}
                <div class="wrap-input100 validate-input" >
                    <p>
                        {{ form. username.label }} <br>
                        {{ form.username(size = 52) }}
                    </p>
                    {% for error in form.username.errors %}
                        <span style="color:red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="wrap-input100 validate-input" >
                    <p>
                        {{ form. name.label }} <br>
                        {{ form.name(size = 52) }}
                    </p>
                    {% for error in form.name.errors %}
                        <span style="color:red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="wrap-input100 validate-input" >
                    <p>
                        {{ form. surname.label }} <br>
                        {{ form.surname(size = 52) }}
                    </p>
                    {% for error in form.surname.errors %}
                        <span style="color:red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="wrap-input100 validate-input" >
                    <p>
                        {{ form. email.label }} <br>
                        {{ form.email(size = 52) }}
                    </p>
                    {% for error in form.email.errors %}
                        <span style="color:red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="wrap-input100 validate-input" >
                    <p>
                        {{ form. address.label }} <br>
                        {{ form.address(size = 52) }}
                    </p>
                    {% for error in form.address.errors %}
                        <span style="color:red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="wrap-input100 validate-input" >
                    <p>
                        {{ form. password.label }} <br>
                        {{ form.password(size = 52) }}
                    </p>
                    {% for error in form.password.errors %}
                        <span style="color:red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="wrap-input100 rs1 validate-input">
                    <p>
                        {{ form.password2.label }} <br>
                        {{ form.password2(size = 52) }}
                    </p>
                    {% for error in form.password2.errors %}
                        <span style="color:red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <button class="login100-form-btn">
                    Подтвердить
                </button >
            </form>
        </div>
    </div>
</div>
</body>
{% endblock %}